@charset "utf-8";

@media (min-width: 1441px) and (max-width: 1920px) {

    .menu-btn{
        display: none;
    }

    #menu2{
        display: flex;
        width: 67%;
        justify-content: end;
        gap: 20px;
        padding-top: 45px;
        padding-right: 35px;
        position: absolute;
        left: 100%;
        transform: translate(-100%);

        & a{
            font-size: 1em;
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        & a:hover{
            color: rgb(67, 129, 244);
            background-color: white;
            padding: 7px 10px;
            border-radius: 5px;
        }

        
    }

    #logo1{
        padding: 30px;
    }

    main {

    & #page1{
        flex-direction: row;
        margin: 20px 10%;

        & h1{
            padding-left: 90px;
            padding-bottom: 12%;
            position: absolute;
            

        }

        & p{
            width: 48%;
            padding-left: 88px;
        }

        & .logo{
            width: 260px;
            margin-top: 0px;
            left: 4%;

        }
    }

    & #page2{
        height: 70vh;
        flex-direction: row;
        margin: 20px 10%;
        justify-content: space-evenly;
        

        & h1{
            padding-bottom: 22%;
            position: absolute;
            

        }

        & .parte{
            width: 30%;
            height: 15rem;
        }
    }
    & #page3{
        height: 75vh;
        flex-direction: row;
        margin: 20px 10%;
        justify-content: space-evenly;
       
        & #fundo-impactos{
            height: 100px;
            width: 81%;
            position: absolute;
            align-self: flex-start;
            background-position: bottom;
        }

        & .parte2{
            width: 30%;
            height: 20rem;
            margin-top: 5%;
        }

        & img{
            width: 12rem;
        }
    }


    footer{
        flex-direction: row;
        align-items: center;
        padding-left: 8%;
        gap: 12%;
        height: 80vh;

        & #logo2{
            position: absolute;
            margin-bottom: 30%;
        }

    }
    
}
}