@charset "utf-8";

@media (min-width: 821px) and (max-width: 1080px) {

    .menu-btn{
        display: none;
    }

    #menu2{
        display: flex;
        width: 67%;
        justify-content: end;
        gap: 20px;
        padding-top: 35px;
        padding-right: 30px;
        position: absolute;
        left: 100%;
        transform: translate(-100%);

        & a{
            font-size: 0.8em;
            text-decoration: none;
            color: white;
        }

        & a:hover{
            color: rgb(67, 129, 244);
            background-color: white;
            padding: 7px 10px;
            border-radius: 5px;
        }
    }
    main {

    & #page1{
        flex-direction: row;
        margin: 20px 5%;

        & h1{
            padding-left: 50px;
            padding-bottom: 23%;
            position: absolute;
            

        }

        & p{
            width: 53%;
            padding-left: 50px;
        }

        & .logo{
            width: 220px;
            margin-top: 0px;
            right: 0%;

        }
    }

    & #page2{
        height: 70vh;
        flex-direction: row;
        margin: 20px 5%;
        justify-content: space-evenly;
        

        & h1{
            padding-bottom: 38%;
            position: absolute;
            

        }

        & .parte{
            width: 30%;
            height: 15rem;
        }
    }
    & #page3{
        height: 92vh;
        flex-direction: row;
        margin: 20px 5%;
        justify-content: space-evenly;
       
        & #fundo-impactos{
            height: 100px;
            width: 90%;
            position: absolute;
            align-self: flex-start;
            background-position: bottom;
        }

        & .parte2{
            width: 30%;
            height: 25rem;
            margin-top: 10%;
        }

        & img{
            width: 12rem;
        }
    }


    footer{
        flex-direction: row;
        align-items: center;
        padding-left: 8%;
        gap: 12%;
        height: 80vh;

        & #logo2{
            position: absolute;
            margin-bottom: 40%;
        }

    }
    
}
}