@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

#logo1{
        width: 120px;
        height: auto;
        padding: 20px;
        
    }

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #222;
    width: 200px;
    height: 100%;
    padding-top: 60px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;

    & #logo_menu{
    width: 100px;
    height: auto;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    }
}

nav a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #444;
  }

nav.active {
    transform: translateX(0);
  }

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1001;
    }

.main-content {
        transition: filter 0.3s ease;
      }
  
      .blur {
        filter: blur(5px);
      }

header{
    width: 100vw;
    height: 70vh;
    background-image: url("../imagens/acao1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    & #conteudo{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    & h2{
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1.2em;
        color: rgb(67, 129, 244);
    }
    
}

.typing-container {
    height: 35px;
    font-family: 'Bebas Neue';
    font-weight: 500;
    font-size: 30px;
    border-right: 3px solid white; /* Efeito do cursor */
    color: white;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

body, main{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;

    & #page1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 20px;
        height: 25rem;
        background-color: white;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
        border-radius: 7px;
        text-align: center;

        & h1{
            font-family: Roboto;
            margin-top: 20px;
        }
        & p {
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.625);
            font-size: 1em;
            margin-top: 20px;
            padding: 0px 25px;
            text-align: justify;
        }
    }

    & .logo{
        width: 190px;
        height: auto;
        margin-top: 15%;
        position: relative;
        right: 5%;
    }
}





#page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    height: 60rem;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
    text-align: center;

    & img{
        width: 65px;
        height: auto;
        margin-top: 15px;
    }

    & h1{
        font-family: Roboto;
        margin-top: 35px;
    }

    & h2{
        font-family: Poppins;
        font-size: 1em;
        font-weight: 700;
        margin-top: 15px;
    }

    & p{
        font-family: Roboto;
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.625);
        padding: 0px 30px;
        text-align: center;
    }

    & .parte{
        width: 80%;
        height: 15rem;
        background-color: lightblue;
        margin-top: 30px;
        padding-top: 10px;
        border-radius: 7px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    }
}

#page3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    height: 86rem;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
    text-align: center;

    & img{
        width: 17rem;
        height: auto;
    }

    & #imgTop{
        margin-top: 20px;
    }

    & h1{
        margin-top: 20px;
    }
    & p{
        padding: 0px 30px;
        text-align: justify;
        color: rgba(0, 0, 0, 0.625);
    }

    & .parte2{
        width: 80%;
        height: 23rem;
        background-color: lightblue;
        margin-top: 35px;
        padding-top: 10px;
        border-radius: 7px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    }

    & #fundo-impactos{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../imagens/ajudando.jpg");
        background-position: bottom;
        background-size: cover;
        width: 100%;
        height: 8%;
        border-radius: 7px 7px 0px 0px;

        & .impactos{
            font-family: 'Bebas Neue';
            font-size: 30px;
            color: white;
            border-right: 3px solid white; /* Efeito do cursor */
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            margin-top: 10px;
    
        }
    }

}

footer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(32, 31, 31);

    & #logo2{
        width: 150px;
        height: auto;
        padding-top: 40px;
        padding-left: 20px;
    }

    & .info{
        margin-top: 20px;
        padding-left: 40px;
        color: white;

        & h1{
            margin-top: 5%;
            font-size: 1.4em;
        }

        & ul{
            list-style: none;
            margin-top: 3%;
            

            & li{
                font-size: 1em;
                padding: 5px 0px;
            }

            & a{
                text-decoration: none;
                color: white;
            }

            & a:hover{
                color: rgb(67, 129, 244);
            
            }
        }


    }

}




