@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

#logo1{
        width: 120px;
        height: auto;
        position: relative;
        bottom: 35%;
        align-self: flex-start;
        padding-left: 20px;
    }


header{
    width: 100vw;
    height: 70vh;
    background-image: url("../imagens/acao1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2{
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1.2em;
        color: rgb(67, 129, 244);
    }
    
}

.typing-container {
    height: 35px;
    font-family: 'Bebas Neue';
    font-weight: 500;
    font-size: 30px;
    border-right: 3px solid white; /* Efeito do cursor */
    color: white;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

body, main{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;

    & #page1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 20px;
        height: 25rem;
        background-color: white;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
        border-radius: 7px;
        text-align: center;

        & h1{
            font-family: Roboto;
            margin-top: 20px;
        }
        & p {
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.625);
            font-size: 1em;
            margin-top: 20px;
            padding: 0px 25px;
            text-align: justify;
        }
    }

    & .logo{
        width: 190px;
        height: auto;
        margin-top: 15%;
        position: relative;
        right: 5%;
    }
}





#page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    height: 60rem;
    background-color: white;
    border-radius: 7px;
    text-align: center;

    & img{
        width: 65px;
        height: auto;
        margin-top: 15px;
    }

    & h1{
        font-family: Roboto;
        margin-top: 35px;
    }

    & h2{
        font-family: Poppins;
        font-size: 1em;
        font-weight: 700;
        margin-top: 15px;
    }

    & p{
        font-family: Roboto;
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.625);
        padding: 0px 30px;
        text-align: center;
    }

    & .parte{
        width: 80%;
        height: 15rem;
        background-color: lightblue;
        margin-top: 30px;
        padding-top: 10px;
        border-radius: 7px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    }
}

#page3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    height: 70rem;
    background-color: white;
    border-radius: 7px;
    text-align: center;

    & img{
        width: 50px;
        height: 50px;
        margin-top: 5px;
    }

    & #imgTop{
        margin-top: 20px;
    }

    & h1{
        margin-top: 20px;
    }
    & p{
        margin-top: 15px;
        padding: 0px 30px;
        text-align: justify;
        color: rgba(0, 0, 0, 0.625);
    }

    & .parte2{
        width: 80%;
        height: 18rem;
        background-color: lightblue;
        margin-top: 35px;
        padding-top: 10px;
        border-radius: 7px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    }

    & #fundo-impactos{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../imagens/ajudando.jpg");
        background-position: bottom;
        background-size: cover;
        width: 100%;
        height: 8%;
        border-radius: 7px 7px 0px 0px;

        & .impactos{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            color: white;
            border-right: 3px solid white; /* Efeito do cursor */
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            margin-top: 10px;
    
        }
    }

}

footer{
    display: flex;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;

    & .logo{
        margin-top: 40px;
        margin-bottom: 20px;
        justify-self: center;
    }

    & .info{
        margin-top: 5%;
        padding-left: 40px;
        align-self: flex-start;
        color: white;

        & h1{
            font-size: 1.5em;
        }

        & ul{
            list-style: none;
            margin-top: 5%;
            

            & li{
                font-size: 1.2em;
                padding: 5px 0px;
            }
        }


    }

}




